<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wings</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>wings_doc.icns</string>
			<key>CFBundleTypeName</key>
			<string>Wings 3D File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Wings3D</string>
	<key>CFBundleIconFile</key>
	<string>wings3d.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.wings3d.wings3d</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.graphics-design</string>
</dict>
</plist>
