# Erlang LS don't like src files that are not below a src dir
# include the dirs via include option instead
include_dirs:
 - "e3d"
 - "intl_tools"
 - "tools"
 - "plugins_src/*"
 - "_deps/cl/include"

code_path_extra_dirs:
 - "intl_tools"

deps_dirs:
 - "_deps/cl"

otp_apps_exclude:
 - asn1
 - common_test
 - diameter
 - megaco
 - mnesia
 - snmp
 - odbc

macros:
 - name: wings_version
   value: "ls_compiled"

diagnostics:
  enabled:
    - bound_var_in_pattern
