on:
    push:
    pull_request:

concurrency:
  group: ci-${{github.actor}}-${{github.head_ref || github.run_number}}-${{github.ref}}-build
  cancel-in-progress: true

jobs:
  build:
    name:  Build Wings3D (ubuntu)
    runs-on: ubuntu-latest
    steps:
      # Fetch the commits and hopefully get nice version via git describe
      - uses: actions/checkout@v4
        with:
         fetch-depth: 1

      - uses: erlef/setup-beam@v1
        with:
          otp-version: '28.3'
          rebar3-version: '3.24'

      - name: Install OpenCL deps
        run: sudo apt-get update && sudo apt-get install -y ocl-icd-opencl-dev

      - name: Wings build
        run:
          MAKEFLAGS=-j$(($(nproc) + 2)) make

      - name: Dialyze
        run: make dialyze

      - name: Build installer
        run: make unix

      - uses: actions/upload-artifact@v4
        with:
          name: wings_ubuntu
          compression-level: 0
          path: wings-*.bzip2.run

  build-windows:
    defaults:
      run:
        shell: wsl-bash {0}
    name: Build Wings3D (Windows)
    runs-on: windows-2025

    steps:
      - uses: Vampire/setup-wsl@v3
        with:
          distribution: Ubuntu-22.04

      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Download win32 Erlang
        shell: cmd
        run: |
          winget install --id=Erlang.ErlangOTP -v "28.3" -e --accept-source-agreements

#        NSIS is not pre-installed in 2025
      - name: Install NSIS
        uses: repolevedavaj/install-nsis@v1.1.0
        with:
          nsis-version: '3.10'

      - name: Prepare WSL for compilation
        run: |
             # Need rebar3 and erlang in linux
             # Since I don't know how to invoke an cmd with visual studio env
             # to invoke rebar3 from windows
             #
             mkdir bin
             wget -q -O bin/rebar3 https://github.com/erlang/rebar3/releases/download/3.25.1/rebar3
             chmod +x bin/rebar3
             # We need make and unzip
             sudo apt-get update
             sudo apt-get install -y unzip build-essential zlib1g-dev libncurses5-dev libssl-dev

      - name: Build erlang in WSLenv and fetch OpenCL lib
        run: |
             #
             # We need (a recent) erlang (for rebar3)
             #
             wget -q -O otp.tgz https://github.com/erlang/otp/releases/download/OTP-28.3/otp_src_28.3.tar.gz
             tar zxf otp.tgz
             mv otp_src_* otp_src
             cd otp_src
             export MAKEFLAGS=-j$(($(nproc) + 2))
             ./configure --without-wx --without-debugger -without-et && make
             cd ..
             #
             # wings need opencl libs and headers
             #
             mkdir OpenCL
             cd OpenCL
             wget https://github.com/GPUOpen-LibrariesAndSDKs/OCL-SDK/files/1406216/lightOCLSDK.zip
             unzip lightOCLSDK.zip
             mv lib/x86_64 lib/x64

      - name: Build wings
        run: |
             echo PWD: `pwd`
             export WINGS_DIR_WSL=`pwd`
             export WINGS_DIR_WIN=`wslpath -m $WINGS_DIR_WSL`
             export OPENCL_DIR=$WINGS_DIR_WIN/OpenCL
             export MAKEFLAGS=-j$(($(nproc) + 2))
             echo MAKEFLAGS=$MAKEFLAGS
             #
             #  Setup paths to find cl.exe and msw LIBS and INCLUDES
             #
             cd /mnt/c
             eval `cmd.exe /c "$WINGS_DIR_WIN/win32/SetupWSLcross.bat" x64`
             cd $WINGS_DIR_WSL
             #
             export NSIS_DIR="/mnt/c/Program Files (x86)/NSIS"
             ls "$NSIS_DIR"
             #
             export PATH=$WINGS_DIR_WSL/otp_src/bin:$PATH:"/mnt/c/Program Files/Erlang OTP/bin:$WINGS_DIR_WSL/bin:$NSIS_DIR"
             make
             export WINGS_VCREDIST_IGNORE_VSN=1
             make win32

      - uses: actions/upload-artifact@v4
        with:
          name: wings_win32_x64_installer
          compression-level: 0
          path: wings-*.exe



